.about_container {
    margin-top: 2rem;
    text-align: center;
}

.about_container h2 {
    font-family: serif;
    color: #65b8ff;
    font-size: 40px;
    font-weight: 500;
}

.about_container p {
    color: rgb(210, 210, 210);
    font-size: 20px;
    line-height: 1.4;
}