.cover_container {
    align-items: flex-start;
}

.left_cover {
    width: 30%;
}

.left_cover img {
    opacity: 0.4;
    height: 300px;
    width: 1100px;
    position: inherit;
    z-index: 1;
    filter: blur(2px);
}

.left_cover h3 {
    color: rgb(210, 210, 210);
    margin-left: 5rem;
    margin-top: 0.25rem;
}

.name {
    margin: 0;
    font-size: 50px;
    color: #65b8ff;
    font-family: serif;
    margin-left: 5rem;
}

.right_cover {
    width: 60%;
}

.right_cover img {
    height: 350px;
    width: 300px;
    float: right;
    position: relative;
    z-index: 10;
}